<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>提取公共部分</title>
</head>
<body>

<!--头部导航-->
    <ul class="layui-nav layui-layout-right" th:fragment="topBar">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                <span th:text="${session.loginUser}"></span>
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a th:href="@{/admin/logout}">退出登陆</a></li>
    </ul>



<!--侧边栏-->
    <ul class="layui-nav layui-nav-tree"  lay-filter="test" th:fragment="leafBar">
        <li class="layui-nav-item">
            <a class="" href="javascript:;">文章系统</a>
            <dl class="layui-nav-child">
                <dd><a th:href="@{/admin/toAdd}">编写文章</a></dd>
                <dd><a th:href="@{/admin/main}">文章管理</a></dd>
                <dd><a href="javascript:;">数据统计</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">快捷导航</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">CSDN</a></dd>
                <dd><a href="javascript:;">Git</a></dd>
                <dd><a href="javascript:;">码云</a></dd>
                <dd><a href="javascript:;">谷歌翻译</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a class="" href="javascript:;">系统管理</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">站点设置</a></dd>
                <dd><a href="javascript:;">广告设置</a></dd>
                <dd><a href="javascript:;">友情链接</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">云市场</a></li>
        <li class="layui-nav-item"><a href="">开发文档</a></li>
    </ul>

<!--底部部分-->
    <div class="layui-footer" th:fragment="footerBar">
        <!-- 底部固定区域 -->
        © <a href="https://gitee.com/XzcGroup/XzcBlogTemplate" target="_blank" title="XzcBlogTemplate"></a> 个人博客后台
    </div>



</body>
</html>