<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>博客后台管理系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">博客后台管理</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">后台首页</a></li>
        </ul>
        <div th:replace="~{common/common::topBar}"></div>
    </div>

    <!--侧边栏-->
    <div class="layui-side layui-bg-black">
        <!--<div th:include="~{footer::leftBar}"></div>-->
        <div class="layui-side-scroll" th:fragment="leftBar">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <div th:replace="~{common/common::leafBar}"></div>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="content-page">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="page-title">
                                <p>发布文章</p>
                            </h4>
                        </div>
                        <div class="col-md-12">

                            <form id="articleForm"  th:action="@{/admin/add}" method="post" >
                                <div class="form-group col-md-12" style="padding: 0 10px 0 0;">
                                    <input type="text"  class="form-control" placeholder="请输入文章标题（必须）" name="archivesTitle"
                                           required/>
                                </div>

                                <div class="form-group col-md-12" style="padding: 0 10px 0 0;">
                                    <textarea type="text" class="form-control"
                                           rows="20"
                                            cols="50"
                                           name="archivesContent"
                                           style="OVERFLOW:   hidden"
                                           placeholder="请输入文章内容（必须）"
                                           required></textarea>
                                </div>
                                <span>
                                    <input type="hidden" name="createTime" th:value="${currentTime}">
                                </span>
                                <div>
                                    <div class="clearfix"></div>
                                    <div class="text-left">
                                        <div class="form-group"  >
                                            <label >分类:</label>
                                            <select class="btn btn-default dropdown-toggle" type="button" name="archivesType">
                                                <option th:selected="${type.getType()=='请选择'}" th:each="type:${types}" th:text="${type.getType()}"></option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="text-right">
                                        <a class="btn btn-default waves-effect waves-light" th:href="@{/admin/main}">返回列表</a>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">
                                            保存文章
                                        </button>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <tr>

        </tr>
        <div style="padding: 15px;">

        </div>
    </div>

    <div th:replace="~{common/common::footerBar}"></div>

</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    //获取下拉点击时间
    $('.dropdown-item').click(function () {
        $('#dropdown-title').text($(this).text());
    });


</script>



</body>
</html>